# in this yaml you should add dependencies that are not included in the python packages
# (or that you want to install anyways such as torch to install cuda w/ conda)
# also make sure to install the local packages with the "-e" prefix
# to create an environment: conda env create -f environment.yaml
# to update: conda env update -f environment.yaml
name: robilglue
channels:
  - pytorch
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
    - pynput
    - ur-analytic-ik
    - pyrealsense2
    -  airo-ipc/
    -  airo-mono/airo-typing
    -  airo-mono/airo-dataset-tools
    -  airo-mono/airo-spatial-algebra
    -  airo-mono/airo-camera-toolkit
    -  airo-mono/airo-robots
    - -e .
